body {
    margin: 0px auto;
}

header {
    width: 1320px;
    height: 600px;
    font-family: Merriweather;
    border-radius: 16px;
    background-image: border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background: url('../styles/images/Banner Image.png');
    margin: 50px auto;
    text-shadow: 3px 3px 3px #070211;
    text-align: center;
}

.banner-top {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-bottom {
    color: #fff;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 177px;
    padding-left: 334px;
    padding-right: 334px;
}

main {
    margin-top: 120px;
}

.offer {
    padding: 120px auto;
    width: 1600px;
    height: 935px;
    font-family: Inter;
}

.offer-details {
    text-align: center;
    padding: 120px auto;

}

.offer-percentenge {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.offer-massage {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 45px;
}

.offer-catagories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}

.new-year-img {
    display: block;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.party-invitation {
    width: 1320px;
    height: 600px;
    background-image: url('./images/Vectorrr.png');
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.invitation-massage {
    padding-top: 126px;
    padding-bottom: auto;
    padding-left: 126px;
    padding-right: 39px;
    text-shadow: 3PX 3PX 3px #070211;
}

.invitation-title {
    color: #FFF;
    font-family: Merriweather;
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
}

.invitation-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.joinnow1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
    padding-top: 48px;
}

.img2024 {
    background-position: right;
    width: 319.83px;
    height: 464.662px;
    padding-top: 68px;
    padding-left: 32PX;
}

.address {
    margin: 140px 120px;
    width: 1320px;
    height: 482px;
    padding-bottom: 100px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px 140px;
}

.address-box {
    text-align: center;
    font-size: 32px;
    weight: 549px;
    height: 168px;
    font-family: Inter;
    padding-top: 110px;

}

.address-button {
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    width: 167px;
    height: 56px;
    margin: 48px auto 126px auto;
    margin-left: 576px;
    margin-right: auto;
    margin-top: 48px;
}

.joinnow2 {
    color: #FFF;
    font-size: 20px;
    margin: auto 22px;
}

section>h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

section>h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.new-year-best-offer {
    width: 1600px;
    height: 735px;
    margin-top: 120px;

}

.new-offer {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: space-around;
}

.new-best-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.comming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.new-offer-description {
    color: rgba(7, 2, 17, 0.60);
    width: 393px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.new-year-img2 {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
}

.h2-2024 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.description-2024 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 276px;

}

.img-group96 {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

.right-side-details {
    padding-bottom: 0px;
}

.products {
    width: 1600px;
    height: 1735px;
    margin-left: 140px;
    margin-right: 140px;
}

.holiday-sale-box {
    display: flex;
    text-align: center;
    margin-left: 126px;
    margin-right: 126px;
}

.products-profile-details {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.products-profile-description {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.holiday-sale-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.products-img1 {
    width: 424px;
    height: 450px;
    display: flex;
    gap: 24px;
    padding-top: 48px;
}

.products-img2 {
    width: 424px;
    height: 450px;
    display: flex;
    gap: 24px;
    padding-top: 24px;

}

.subscribe {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
    background-repeat: no-repeat;
    width: 1320px;
    height: 616px;
    margin: 120px 140px;
    border-radius: 16px;
    background-image: url('../styles/images/Group\ 61.png');
    align-items: center;
    
}

.subscribe-details {
    text-align: center;
    margin-left: 212px;
    margin-right: 212px;
    padding-top: 270px;
    padding-bottom: 48px;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.subscribe-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}

.input {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

}

.gmail {
    background: #FFF;
    width: 348px;
    height: 72px;
    border: 0px;
}

.subscribe-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0px;
}

footer {
    width: 1600px;
    height: 709px;
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer {
    margin-left: 140px;
    margin-right: 140px;
}

.address-contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

.contacts {
    padding-right: 135px;
    line-height: 0px;
}

.full-address {
    width: 375px;
    line-height: 40px;
}

.socail-link-img {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 24px;
}

.copyright-details {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 140px;
    padding-right: 140px;
}